.modalStyle{
    background-color: #fff;
    border-radius: 5px;
    width: 450px;
    height: 340px;
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 100;
  }
.inputStyle{
      padding:0px 0px 0px 10px;
      margin: 0px 0 0 0;
      width: 70%;
      height:35px;
      border: 1px solid gray;
      border-radius: 2px;
      font-size: 20px;
      display:inline-block;
  }
.iconDivStyle{
      display: inline-block;
      height: 37px;
      width: 45px;
      background-color: gray;
      vertical-align: bottom;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
  }
.iconStyle{
      height: 25px;
      width: 25px;
      margin: auto;
      margin-top: 5px;
  }
  .loginButtonDiv{
      height: 50px;
      width: 100%;
      text-align: left;
  }
  .loginButtonStyle{
      display:inline-block;
      height: 40px;
      background-color: #56FF5B;
      margin: 0px 5px 0px 40px;
      padding: 5px 10px 5px 10px;
      font-size: 18px;
      font-family: Tahoma;
      border:none;
      border-radius: 5px;
      box-shadow:none;
      font-weight: 900;
      color: white;
  }
  .twitterButtonStyle{
      display:inline-block;
      height: 40px;
      background-color: #56D0FF;
      margin: 0px 5px 0px 10px;
      padding: 0px 5px 0px 5px;
      font-size: 18px;
      font-family: Tahoma;
      border:none;
      border-radius: 5px;
      box-shadow:none;
      font-weight: 900;
      color: white;
      vertical-align: top;
      text-align: center;
  }
  .hrStyle{
      width: 85%;
      border-color: #E4F8FF;
  }
  .guestpStyle{
      display:inline-block;
      font-family: Arial;
      font-size: 16px;
      font-weight: 0;
      margin-left: 30px;
  }
  .guestStyle{
      color: #56D0FF;
      font-size: 18px;
      font-weight: 900;
      font-family: Arial Black;
      border: none;
      padding: 0 0 0 0;
      margin: 0 0 0 5px;
      background-color: white;
  }
  .guestDivStyle{
      text-align:left;
  }
  .buttonContainerStyle{
    background-color: gray;
    width: 100%;
    height: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .loginMenuButton{
      border: none;
      background-color: #2CB7FF;
      width: 50%;
      height: 50px;
      border-top-left-radius: 5px;
      display: inline-block;
      text-align: center;
  }
  .inactiveLoginMenuButton{
      border: none;
      background-color: #B8E7FF;
      width: 50%;
      height: 50px;
      border-top-left-radius: 5px;
      display: inline-block;
      text-align: center;
  }
  .signUpMenuButton{
      border: none;
      background-color: #B8E7FF;
      width: 50%;
      height: 50px;
      display: inline-block;
      border-top-right-radius: 5px;
      text-align:center;
  }
  .activeSignupMenuButton{
      border: none;
      background-color: #2CB7FF;
      width: 50%;
      height: 50px;
      display: inline-block;
      border-top-right-radius: 5px;
      text-align:center;
  }
  .activeButtonTextStyle{
      font-size: 25px;
      font-family: Arial Black;
      color: white;
      font-weight: 900;
      margin: 0;
      padding: 5px 0px 0px 0px;
  }
  .inactiveButtonTextStyle{
      font-size: 25px;
      font-family: Arial Black;
      color: #E9F8FF;
      font-weight: 900;
      margin: 0;
      padding: 5px 0px 0px 0px;
  }
  .errorTextStyle{
      display: inline-block;
      font-size: 15px;
      color: red;
      margin: 0;
      padding: 3px 0 0 0;
  }
  .errorDivStyle{
      width: 100%;
      text-align: center;
      height: 25px;
  }
  .twitterButtonPStyle{
      display: inline-block;
      margin: 0;
      padding: 10px 0 0 0;
  }